#wrap{
     width:1200px;
     margin: 0 auto;
}


.title > .logo{
    width:200px;
    height:100px;
    background-color: rgb(211,105,30);
}

.title > .menu{
    width:1000px;
    height:100px;
    background-color: rgb(100,149,236);
}



.main-contents > .contents1{
    width:600px;
    height:500px;
    background-color:yellow;
}

.main-contents > .sub-contents{
    width:600px;
    height:500px;
}

.sub-contents > .article1{
    height:250px;
    background-color: rgb(128,0,128);
}

.sub-contents > .article2{
    height:250px;
    background-color: rgb(0, 255, 127);
}



.link-line > .footer-logo1{
    width:200px;
    height:100px;
    background-color:rgb(255,159,122);
}

.link-line > .copyright{
    width:800px;
    height:100px;
    background-color:rgb(143,238,143);
}

.link-line > .footer-logo2{
    width:200px;
    height:100px;
    background-color:rgb(255,159,122);
}


.display-flex{
    display:flex;
}
