<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>레이아웃 연습문제3</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="wrap">
            <header class="title display-flex">
                <div class="logo">로고</div>
                <div class="menu">메뉴</div>
            </header>
            <section class="main-contents display-flex">
                <article class="contents1">content</article>
                <aside class="sub-contents">
                    <div class="article1">article1</div>
                    <div class="article2">article2</div>
                </aside>
            </section>
            <footer class="link-line display-flex">
                <div class="footer-logo1">footer logo1</div>
                <div class="copyright">copyright</div>
                <div class="footer-logo2">footer logo2</div>
            </footer>
        </div>
    </body>
</html>