<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>div 태그 연습문제</title>
        <link rel="stylesheet" href = " style.css">
    </head>
    <body>

        <div class="display-flex">
            <div class="box-size box1"></div>
            <div class="box-size box2"></div>
        </div>

        <div class="display-flex">
            <div class="box-size box3"></div>
            <div class="box-size box4"></div>
        </div>

        <p>

        </p>

        <div class="display-flex margin-bottom">
            <div class="box-size box1 margin-right"></div>
            <div class="box-size box2"></div>
        </div>

        <div class="display-flex margin-bottom">
            <div class="box-size box3 margin-right"></div>
            <div class="box-size box4 "></div>
        </div>

        <p>

        </p>
        <div class="display-flex center-align" >
            <div>
                <div class="display-flex">
                    <div class="box-size box1 box1-margin"></div>
                    <div class="box-size box2 box2-margin"></div>
                </div>

                <div class="display-flex">
                    <div class="box-size box3 box3-margin"></div>
                    <div class="box-size box4 box4-margin"></div>
                </div>
            </div>
        </div>
        


    </body>
</html>