<!DOCTYPE HTML> 
<html>
    <head>
        <meta charset="utf-8">
        <title>레이아웃 연습문제 2</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="wrap">
            <header></header>
            <section class="main-contents display-flex">
                <article class="main-left-contents"></article>
                <aside class="side-contents"></aside>
            </section>
            <footer class = "sub-contents display-flex">
                <div class="sub-left-contents"></div>
                <div class="sub-center-contents"></div>
                <div class="sub-right-contents"></div>
            </footer>
        </div>

    </body>
</html>